@media (min-width: 768px){
  .main {
    display: flex ;
    /* flex-direction: column-reverse; */
    background-color: white;
  }
  
  .main > section {
    padding: 32px;
  }
}

@media (max-width: 768px){
  .main {
    display: flex ;
    flex-direction: column-reverse;
    background-color: white;
  }
  
  .main > section {
    padding: 32px;
  }
}